{% extends 'base.html' %}

{% block title %}
Homefilmes
{% endblock %}

{% block content %}

<div class="py-16 px-4">

    <div class="py-10">
        <h1>Curso: {{ filme.titulo }}</h1>
        <hr>
        <p>Descrição: {{ filme.descricao }}</p>
        <p>Visualizações: {{ filme.visualizacao }}</p>
        <img class="py-8 px-6" src="{{ filme.thumb.url }}" alt="{{filme}}">

        <hr>
        <h2>Lista de episódios:</h2><br>
        {% for episodio in filme.episodios.all %}
        <p>
            Episódio {{ forloop.counter }} : 
            <a href="{{ episodio.video }}" target="_blank" rel="external">
                {{ episodio.titulo }}
            </a>
        </p>
        {% endfor %}
    </div>

    <hr>
    <div class="py-4">
        <h2>Filmes relacionados: </h2><br>

        {% for filme in filmes_relacionados %}
        <p>
            Curso {{ forloop.counter }}:
            <a href="{% url 'filme:filmedetalhe' filme.pk %}">
                {{ filme.titulo }}
            </a>
        </p>
        {% endfor %}
    </div>

</div>
 
{% endblock %}