{% extends 'base.html' %}

{% block title %}
Homefilmes
{% endblock %}

{% block content %}

<div class="py-14 px-4">
    <h1>Lista de cursos disponíveis na nossa plataforma:</h1>
    <div class="py-2">
        {% for filme in lista_filmes %}
        <hr>
            <a href="{% url 'filme:filmedetalhe' filme.pk %}">
                <p>{{ filme }}</p>
            </a>
            <p>{{ filme.descricao }}</p>
            <img class="py-2 px-6" src="{{ filme.thumb.url }}" alt="Tipo de curso">
        {% endfor %}
    </div>
</div>

{% endblock %}
